.bar-art{
  display: flex;
  align-items: center;
  padding: 2px 12px 4px 12px;
}

.bar-art .bar-head{
  flex: 0 1 auto;
  width: 26px;
  height: 26px;
  margin-right: 8px;
}

.bar-art .author{
  flex: 1 1 auto;
  font-size: 14px;
  margin: 0;
  font-weight: 600;
}