@import '../../root.scss';

#console {
	position: fixed;
	left: 0;
	right: 0;
	transition-timing-function: ease-out;
	transition-duration: 0.5s;
	z-index: 99999;

	> div{
		height: 100%;
    margin: 0 auto;
    max-width: 370px;
    width: 85%;
    background-color: hsl(0deg 0% 55% / 49%);
    text-align: center;
    padding: 30px 15px;
    font-size: 15px;
    border: 0.5px solid #d1d1d1;
    border-radius: 5px;
	}
}

#console.console-open {
	top: 30vh;
}

#console.console-close {
	top: -50vh;
	visibility: hidden;
	overflow: hidden;
}

#loading {
	background-color: #8d8d8c80;
	z-index: 999999;

	.loading-icon {
		display: inline-block;
		position: relative;
		width: 80px;
		height: 80px;

		div {
			box-sizing: border-box;
			display: block;
			position: absolute;
			width: 64px;
			height: 64px;
			margin: 8px;
			border: 8px solid #fff;
			border-radius: 50%;
			animation: loading-icon 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
			border-color: var(--bg-box) transparent transparent transparent;

			&:nth-child(1) {
				animation-delay: -0.45s;
			}

			&:nth-child(2) {
				animation-delay: -0.3s;
			}

			&:nth-child(3) {
				animation-delay: -0.15s;
			}
		}
	}
}

@keyframes loading-icon {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}