#new {
  display: flex;
  flex-direction: column;
}

#new p{
  font-size: 16px;
  color: #262626;
  flex: 0 1 auto;
  margin: 10px 0;
}

#new .bar{
  display: flex;
  align-items: center;
  padding: 2px 0px 4px 0px;
}

#new .bar-head{
  flex: 0 1 auto;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

#new .author{
  flex: 0 1 auto;
  font-size: 20px;
  margin-right: 10px;
  font-weight: 600;
}

#new .time{
  flex: 1 1 auto;
  margin: 0;
  font-size: 13px;
  display: flex;
  align-items: center;
  color: #8e8e8e;
  padding-top: 3px;
}

#new .new-title{
  margin: 16px 0 8px 0;
  flex: 0 1 auto;
  font-size: 26px;
  font-weight: 600;
  height: 38px;
}

#new .new-input{
  margin: 9px 0;
  display: block;
  flex: 1 1 auto;
  height: 250px;
  line-height: 28px;
  font-family: Microsoft JhengHei;
  border: 0.5px solid #d1d1d1;
  outline-width: 0px;
  padding: 4px 10px 4px 10px;
  overflow-x: auto;
}

#new .new-move{
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #8e8e8e;
  flex: 0 1 auto;
  padding: 14px 0px;
}

#new .new-img{
  flex: 0 1 auto;
}

#new .new-img img{
  width: 24px;
  height: 24px;
}

#new .new-img input{
  display: none;
}