@import '../../../root.scss';

#new {
	display: flex;
	flex-direction: column;
	
	.new-bar {
		display: flex;
		align-items: center;
    padding: 20px 0 11px 0;
	}

	.new-head {
		flex: 0 1 auto;
		width: 28px;
		height: 28px;
		margin-right: 8px;
	}

	.new-author {
		flex: 0 1 auto;
		font-size: 20px;
		margin-right: 10px;
		font-weight: 600;
	}

	.new-info {
		flex: 0 1 auto;
		margin: 0;
		font-size: 13px;
		display: flex;
		align-items: center;
		color: var(--color-light);
		padding-top: 3px;
	}

	.new-title {
		margin: 8px 0;
		flex: 0 1 auto;
		font-size: 26px;
		font-weight: 600;
		height: 38px;
	}

	.new-input-box{
		flex: 1 1 auto;

		> div{
			height: 100%;
		}
	}
}