@import '../../../../root.scss';

.art-cont {
	padding: 0;
	
	&:after {
		@include line
	}
	
	.bar{
		padding-bottom: 15px;
	}

	.title {
		padding: 0 15px;
		font-size: 26px;
		font-weight: 600;
		white-space: pre-wrap;
		word-break: break-word;
	}
}