@import '../../../../root.scss';

.art-cont {
	padding: 0;
	
	&:after {
		@include line
	}

	.bar-art {
		display: flex;
		align-items: center;
		padding: 14px 15px 12px 15px;
	
		.bar-head {
			flex: 0 1 auto;
			width: 28x;
			height: 28px;
			margin-right: 8px;
		}
		
		.author {
			flex: 1 1 auto;
			font-size: 16px;
			margin: 0;
			font-weight: 600;
		}
	}
	
	.title {
		padding: 0 15px;
		font-size: 26px;
		font-weight: 600;
		white-space: pre-wrap;
		word-break: break-word;
	}

	.info {
		padding: 0px 17px 7px 17px;
		font-size: 13px;
		display: flex;
		align-items: center;
		color: var(--color-light);

		.del {
			flex: 0 1 auto;
			font-size: 13px;
			color: var(--color-mid);
			margin-left: 10px;
			font-weight: normal;
			cursor: pointer;
		}
	}

	.likes-icon {
		width: 12px;
		height: 12px;
		padding: 5px 6px 4px 0px;
		cursor: pointer;
		filter: invert(61%) sepia(2%) saturate(184%) hue-rotate(19deg) brightness(93%) contrast(77%);
	}

	.likes-icon-yes {
		filter: invert(15%) sepia(55%) saturate(6826%) hue-rotate(0deg) brightness(103%) contrast(95%);
	}
}