@import 'root.scss';

.setting-option {
	display: flex;
	align-items: center;
	margin: 8px 0;
	padding: 8px 15px;
	background-color: var(--bg-setting);

	> :first-child {
		flex: 0 1 100px;
		margin-right: 15px;
	}

	> :last-child {
		flex: 1 1 auto;
	}
}