@import '../../../../root.scss';

.reply {
	display: flex;
	flex-direction: column;

	&:before {
		@include line
	}

	.reply-bar {
		display: flex;
		align-items: center;
		padding: 13px 15px;

		.reply-head {
			flex: 0 1 auto;
			width: 28px;
			height: 28px;
			margin-right: 8px;
		}

		.reply-author {
			flex: 1 1 auto;
			font-size: 16px;
			margin: 0;
			font-weight: 600;
		}
	}

	.reply-info {
		padding: 0 15px 8px 15px;
		font-size: 13px;
		display: flex;
		align-items: center;
		color: var(--color-light);
	}

	.reply-summit {
		flex: 0 0 auto;
		font-size: 16px;
		color: var(--color-normal);
		cursor: pointer;
	}

	.reply-input-box{
		padding: 0 15px;
	}
}