@import 'root.scss';

.header {
	width: 100%;
	display: flex;
	align-items: center;
	margin: 0 auto;
	background-color: var(--bg-box);
	border-bottom: $border-light;

	>:last-child {
		margin-right: 30px;
	}

	.logo {
		flex: 0 1 auto;
		height: 100%;
	}

	>a {
		+a {
			margin-left: 30px;
		}

		img {
			flex: 0 1 auto;
			width: 28px;
			height: 28px;
			cursor: pointer;
		}
	}
}