spring:
  application:
    name: Anonygram
  profiles:
    active: ${ACTIVE:dev}

  # =================================
  # Thymeleaf
  # =================================
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    encoding: UTF-8
    # Page is cached, should be true, test for false
    # cache: false

# =================================
# Log
# =================================
logging:
  config: classpath:logback-spring.xml

# =================================
# Open API Document
# =================================
springdoc:
  swagger-ui:
    # Set swagger url short cut
    path: /swagger

# =================================
# Https
# =================================
server:
  port: 443
  ssl:
    enabled: true
    key-alias: anonygram_ssl
    key-store: classpath:anonygram_ssl.p12
    key-store-type: PKCS12
    key-password: alan10607
    key-store-password: alan10607

# =================================
# Imgur
# =================================
imgur:
  authorizeUrl: https://api.imgur.com/oauth2/authorize
  tokenUrl: https://api.imgur.com/oauth2/token
  uploadUrl: https://api.imgur.com/3/upload

# =================================
# Forum Admin
# =================================
forum:
  admin:
    username: alan
    email: alan@com
    password: alan