@import 'root.scss';

.main {	
	display: flex;
	flex-direction: column;
	align-items: stretch;
	height: 100vh;
	font-size: 16px;

	> :first-child {
		flex: 0 1 $nav-height;
		min-height: 60px;
	}

	> :last-child {
		flex: 1 1 auto;
		padding-bottom: 20px;
	}
}