@import 'root.scss';

.main {	
	display: flex;
	flex-direction: column;
	align-items: stretch;
	height: 100vh;

	> :first-child {
		flex: 0 1 $nav-height;
	}

	> :last-child {
		flex: 1 1 auto;
		padding-bottom: 20px;
	}
}