@import '../../../root.scss';

#header {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	height: $nav-height;
	z-index: 999;

	> div {
		width: 100%;
		height: 100%;
		max-width: 430px;
		margin: 0 auto;
		background-color: var(--bg-box);
		display: flex;
		align-items: center;
		border-bottom: $border-light;

		> :first-child {
			margin-left: 20px;
		}

		> :last-child {
			margin-right: 30px;
		}
	}

	.user {
		flex: 1 1 auto;
		font-size: 26px;
		font-weight: 600;
	}

	img {
		flex: 0 1 auto;
		width: 28px;
		height: 28px;
		cursor: pointer;
		
		+ {
			img {
				margin-left: 45px;
			}
		}
	}
}