#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background-color: #ffffff;
  padding: 0 15px;
  display: flex;
  align-items: center;
  z-index: 999;
}

#header .user {
  flex: 1 1 auto;
  font-size: 22px;
  font-weight: 600;
}

#header img {
  flex: 0 1 auto;
  width: 24px;
  height: 24px;
  margin: 0 8px 0 16px;
  cursor: pointer;
}

.toggle-btn {
  margin: 0;
  padding: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.toggle-btn div {
  background-color: #0c1b43;
  transform: rotate(0deg) translate(0px, 0px);
  transition: ease all .5s;
  display: block;
  width: 28px;
  height: 2px;
  border-radius: 1px;
}

.toggle-btn div + div {
  margin-top: 8px;
}

.toggle-btn div.toggle-open:nth-child(1) {
  transform: rotate(45deg) translate(7px, 7px);
}

.toggle-btn div.toggle-open:nth-child(2) {
  opacity: 0;
}

.toggle-btn div.toggle-open:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
}