@import '../../../root.scss';

.big-box {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	transition-timing-function: ease-in-out;
	transition-duration: 0.2s;
	z-index: 9999;

	> div {
		width: 100%;
		height: 100%;
		max-width: 430px;
		margin: 0 auto;
		background-color: var(--bg-box);
		color: var(--color-normal);
		display: flex;
		flex-direction: column;

		> div {
			&:last-child {
				flex: 1 1 auto;
				padding: 0px 15px 15px 15px;
			}
		}
	}

	.top-bar {
		display: flex;
		align-items: center;
		height: $nav-height;
		padding: 0 30px;
		border-bottom: $border-light;

		> div {
			&:nth-child(1) {
				flex: 0 1 100px;
				font-size: 18px;
				cursor: pointer;
			}

			&:nth-child(2) {
				flex: 1 1 auto;
				text-align: center;
				font-size: 22px;
				font-weight: 600;
			}

			&:nth-child(3) {
				flex: 0 1 100px;
				text-align: right;
			}
		}

		img {
			width: 28px;
			height: 28px;
			cursor: pointer;
		}
	}
}

.big-box.big-box-open {
	bottom: 0;
}

.big-box.big-box-close {
	bottom: 100vh;
	visibility: hidden;
	overflow: hidden;
	opacity: 0;
}