@import '../../../../root.scss';

.bar {
  display: flex;
  align-items: center;
  padding: 12px 15px 0 15px;

  .head {
    flex: 0 1 auto;
    width: 26x;
    height: 26px;
    margin-right: 8px;
  }
  
  .author {
    flex: 1 1 auto;
    font-size: 15px;
    margin: 0;
    font-weight: 600;
  }

  .likes-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
  
    &.likes-icon-yes {
      img{
        filter: invert(15%) sepia(55%) saturate(6826%) hue-rotate(0deg) brightness(103%) contrast(95%);
      }
    }
  
    img{
      flex: 0 1 auto;
      width: 13px;
      height: 13px;
      padding: 7px 6px 6px 0;
      cursor: pointer;
      filter: invert(61%) sepia(2%) saturate(184%) hue-rotate(19deg) brightness(93%) contrast(77%);
    }
  
    div{
      flex: 0 1 auto;
      font-size: 13px;
      color: var(--color-light);
      min-width: 10px;
      text-align: right;
    }
  }
}