.bar-art{
  display: flex;
  align-items: center;
  padding: 14px 15px 12px 15px;
}

.bar-art .bar-head{
  flex: 0 1 auto;
  width: 28x;
  height: 28px;
  margin-right: 8px;
}

.bar-art .author{
  flex: 1 1 auto;
  font-size: 16px;
  margin: 0;
  font-weight: 600;
}