.word{
  font-size: 16px;
  line-height: 28px;
  font-family: Microsoft JhengHei;
  margin: 12px 0;
}

.word > div:not(:has(img)){
  padding: 0 15px;
}

/* .word > div:first-child:not(img){
  padding-left: 15px;
}

.word > div > div:last-child:not(img){
  padding-right: 15px;
} */

.word span, .word a{
  white-space: pre-wrap;
  word-break: break-word;
  display: inline;
}

.word a{
  text-decoration: underline;
  color: #0008ff;
}

.word .bx{
  color: #0008ff;
}

.word img{
  max-width: 100%;
  margin: 0 auto;
  display: block;
}