#header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  background-color: #ffffff;
  padding: 20px 9px;
  display: flex;
  align-items: center;
}

#header .user{
  flex: 1 1 auto;
  font-size: 22px;
  font-weight: 600;
  margin-left: 15px;
}

#header img{
  flex: 0 1 auto;
  width: 24px;
  height: 24px;
  margin: 0 8px 0 16px;
}