#setting .list{
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
}

#setting .list > div{
  padding: 20px 15px;
  margin: 10px 0;
  flex: 0 1 auto;
  background-color: #ececec;
  font-size: 20px;
  display: block;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  cursor: pointer;
}

#setting .list > div + div{
  border-top: 0.5px solid #8e8e8e;
}

#setting .list > div:hover{
  background-color: #c2c2c2;
}

#setting .lang{
  display: flex;
  align-items: center;
  background-color: initial;
}

#setting .lang :first-child{
  flex: 0 1 auto;
  margin-right: 15px;
}

#setting .lang :last-child{
  flex: 1 1 auto;
}