@import '../../../../root.scss';

.word {
	font-size: 16px;
	line-height: 28px;
	font-family: Microsoft JhengHei;
	margin: 12px 0;
	color: var(--color-normal);

	> div:not(.no-padding) {
    padding: 0 15px;
	}

	span {
		white-space: pre-wrap;
		word-break: break-word;
		display: inline;
		cursor: pointer;
	}

	a {
		white-space: pre-wrap;
		word-break: break-word;
		display: inline;
		cursor: pointer;
		text-decoration: underline;
		color: $color-word-a;
	}

	.bx {
		color: $color-word-bx;
	}

	img {
		max-width: 100%;
		display: block;
	}
}