.reply {
  transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
  transition-duration: 0.5s;
  display: flex;
  flex-direction: column;
}

.replying {
  bottom: 60vh;
}

.reply .bar {
  display: flex;
  align-items: center;
  padding: 13px 15px;
}

.reply .bar .bar-head {
  flex: 0 1 auto;
  width: 28px;
  height: 28px;
  margin-right: 8px;
}

.reply .bar .author{
  flex: 1 1 auto;
  font-size: 16px;
  margin: 0;
  font-weight: 600;
}

.reply .info {
  padding: 0 15px 8px 15px;
  font-size: 13px;
  display: flex;
  align-items: center;
  color: #8e8e8e;
}

.reply .reply-input {
  margin: 0 15px;
  display: block;
  flex: 1 1 auto;
  height: 250px;
  line-height: 28px;
  font-family: Microsoft JhengHei;
  border: 0.5px solid #d1d1d1;
  outline-width: 0px;
  padding: 4px 10px 4px 10px;
  overflow-x: auto;
  font-size: 16px;
}


.reply-input img {
  max-width: 100%;
}

.reply .move {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #8e8e8e;
  padding: 14px 17px;
}

.reply .move .reply-img {
  flex: 0 1 auto;
}

.reply .move .reply-img img {
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.reply .move .reply-img input {
  display: none;
}

.reply .move .reply-summit {
  flex: 0 0 auto;
  font-size: 16px;
  color: #262626;
  cursor: pointer;
}