@import 'root.scss';

.info {
  display: flex;
  align-items: center;
  padding: 2px 17px 8px 17px;
  font-size: 13px;
  color: var(--color-light);

  .info-btn {
    flex: 0 1 auto;
    font-size: 13px;
    color: var(--color-mid);
    margin-left: 10px;
    font-weight: normal;
    cursor: pointer;
  }
}