.word{
  font-size: 16px;
  line-height: 28px;
  font-family: Microsoft JhengHei;
  margin: 15px 0;
}

.word span, .word a{
  white-space: pre-wrap;
  word-break: break-word;
  display: inline;
}

.word a, .word .bx{
  text-decoration: underline;
  color: #0f00ee;
}

.word img{
  max-width: 100%;
}