.login{
  width: 100%;
  height: 100vh;
}

.login .logo{
  width: 280px;
  margin: 10px auto;
}

.login .col-flex{
  padding: 0px 25px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.login .col-flex form{
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.login input{
  margin: 9px 0;
  display: block;
  flex: 1 1 auto;
}

.login input[type="button"], .login input[type="submit"]{
  background-color: #0095f6;
  color: #ffffff;
  cursor: pointer;
}

.login .info{
  text-align: right;
  font-size: 16px;
  color: #8e8e8e;
}

.login .hint{
  text-align: center;
  font-size: 16px;
  color: #ff1616;
  margin-bottom: 24px;
}

.login .info-link{
  color: #262626;
}

.login .line-word{
  margin: 10px auto 55px auto;
  font-size: 16px;
}

.login .line-word:before, .line-word:after {
  display: inline-block;
  width: 60px;
  height: 8px;
  margin: 0 2px 5px 2px;
  content: "";
  border-bottom: 0.5px solid #b1b1b1;
}

.login .version{
  position: fixed;
  right: 0;
  bottom: 0;
  color: #000;
}