@import '../../root.scss';

.login {
	width: 100%;

	.logo {
		width: 280px;
		margin: 30px auto 10px auto;
	}

	.col-flex {
		padding: 0px 25px;
		display: flex;
		flex-direction: column;
		align-items: stretch;

		form {
			display: flex;
			flex-direction: column;
			align-items: stretch;
		}
	}

	input {
		margin: 9px 0;
		display: block;
		flex: 1 1 auto;
	}

	input[type="button"] {
		@include login-btn;
	}

	input[type="submit"] {
		@include login-btn;
	}

	.login-info {
		text-align: right;
		font-size: 16px;
		color: var(--color-light);
	}

	.hint {
		text-align: center;
		font-size: 16px;
		color: #ff1616;
		margin-bottom: 24px;
		height: 22px;
	}

	.info-link {
		color: var(--color-normal);
	}

	.line-word {
		margin: 10px auto 55px auto;
		font-size: 16px;

		&:before {
			display: inline-block;
			width: 80px;
			height: 8px;
			margin: 0 2px 5px 2px;
			content: "";
			border-bottom: $border-light;
		}

		&:after {
			display: inline-block;
			width: 80px;
			height: 8px;
			margin: 0 2px 5px 2px;
			content: "";
			border-bottom: $border-light;
		}
	}

	.version {
		position: fixed;
		right: 0;
		bottom: 0;
		color: var(--bg-body);

		&:hover{
			color: var(--color-normal);
		}
	}
}