@import 'root.scss';

.art {
	background-color: var(--bg-box);
	
	+ {
		.art {
			margin-top: 25px;
		}
	}

	.title {
		padding: 15px 15px 3px 15px;
		font-size: 22px;
		font-weight: 600;
		white-space: pre-wrap;
		word-break: break-word;
	}

}