@import './root.scss';

body {
	font-family: Microsoft JhengHei;
	background-color: var(--bg-body);
	max-width: 430px;
	margin: 0 auto;
	color: var(--color-normal);
}

p {
	margin: 5px 0;
}

a {
	text-decoration: initial;
	color: inherit;
	font-size: inherit;
}

textarea {
	font-size: 18px;
	line-height: 28px;
	color: var(--color-normal);
	background-color: var(--bg-btn);
	border: 0;
	padding: 4px 5px 3px 5px;
	font-family: Microsoft JhengHei;
	outline-width: 0px;
}

button {
	font-size: 18px;
	line-height: 28px;
	padding: 4px 10px 4px 10px;
	border: $border-btn;
	color: var(--color-normal);
	background-color: var(--bg-btn);
	cursor: pointer;
}

input {
	font-size: 20px;
	line-height: 34px;
	font-family: Microsoft JhengHei;
	color: var(--color-normal);
	background-color: var(--bg-btn);
	border: $border-btn;
	outline-width: 0px;
	padding: 4px 10px 4px 10px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;

	td {
		border: 1px solid black;
		padding: 3px 5px;
	}
}

select {
	font-size: 20px;
	line-height: 34px;
	font-family: Microsoft JhengHei;
	color: var(--color-normal);
	background-color: var(--bg-btn);
	border: $border-btn;
	outline-width: 0px;
	padding: 4px 10px 4px 10px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
}

.full-screan {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.center {
	display: table;

	> div {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
}

.icon{
	filter: var(--icon-filter)
}

.disable {
	display: none;
}

.flex-empty {
	flex: 1 1 auto;
}