:root {
  --bg-body-l: #e0e0e0;
  --bg-heavy-l: #ffffff;
  --bg-normal-l: #fafafa;
  --bg-mid-l: #ececec;
  --bg-light-l:#a4a4a4;
  --bg-loginBtn-l: #0095f6;
  --color-normal-l: #262626;
  --color-mid-l: #545454;
  --color-light-l: #8e8e8e;
  --icon-filter-l: invert(0%) sepia(93%) saturate(0%) hue-rotate(229deg) brightness(93%) contrast(107%);

  --bg-body-d: #000000;
  --bg-heavy-d: #111111;
  --bg-normal-d: #131313;
  --bg-mid-d: #1a1a1a;
  --bg-light-d:#545454;
  --bg-loginBtn-d: #111111;
  --color-normal-d: #ececec;
  --color-mid-d: #efefef;
  --color-light-d: #aaaaaa;
  --icon-filter-d: invert(100%) sepia(57%) saturate(41%) hue-rotate(308deg) brightness(113%) contrast(87%);

  --bg-body: var(--bg-body);
  --bg-heavy: var(--bg-heavy);
  --bg-normal: var(--bg-normal);
  --bg-mid: var(--bg-mid);
  --bg-light: var(--bg-light);
  --bg-loginBtn: var(--bg-loginBtn);
  --color-normal: var(--color-normal);
  --color-mid: var(--color-mid);
  --color-light: var(--color-light);
  --icon-filter: var(--icon-filter);
}

$color-word-a: #639cf9;
$color-word-bx: #639cf9;
$border-light: 0.5px solid #8e8e8e;
$border-btn: 0.5px solid #d1d1d1;
$nav-height: 60px;

@mixin line {
  display: block;
  width: calc(100% - 30px);
  height: 0;
  margin: 0 auto;
  content: "";
  border-bottom: $border-light;
}

@mixin login-btn {
  background-color: var(--bg-loginBtn);
  color: #ffffff;
  cursor: pointer;
}


/* --- Common elements--- */
body {
	font-family: Microsoft JhengHei;
	background-color: var(--bg-body);
	max-width: 430px;
	margin: 0 auto;
	color: var(--color-normal);
}

p {
	margin: 5px 0;
}

a {
	text-decoration: initial;
	color: inherit;
	font-size: inherit;
}

textarea {
	font-size: 18px;
	line-height: 28px;
	color: var(--color-normal);
	background-color: var(--bg-normal);
	border: 0;
	padding: 4px 5px 3px 5px;
	font-family: Microsoft JhengHei;
	outline-width: 0px;
}

button {
	font-size: 18px;
	line-height: 28px;
	padding: 4px 10px 4px 10px;
	border: $border-btn;
	color: var(--color-normal);
	background-color: var(--bg-normal);
	cursor: pointer;
}

input {
	font-size: 20px;
	line-height: 34px;
	font-family: Microsoft JhengHei;
	color: var(--color-normal);
	background-color: var(--bg-normal);
	border: $border-light;
	outline-width: 0px;
	padding: 4px 10px 4px 10px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;

	td {
		border: 1px solid black;
		padding: 3px 5px;
	}
}

input[type="button"],
input[type="submit"] {
	@include login-btn;
}

select {
	font-size: 20px;
	line-height: 34px;
	font-family: Microsoft JhengHei;
	color: var(--color-normal);
	background-color: var(--bg-normal);
	border: $border-btn;
	outline-width: 0px;
	padding: 4px 10px 4px 10px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;

	&:disabled {
		background: var(--bg-light);
		cursor: initial;
	}
}

.full-screan {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.center {
	display: table;

	>div {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
}

.icon {
	filter: var(--icon-filter)
}

.disable {
	display: none;
}

.flex-empty {
	flex: 1 1 auto;
}