:root {
  --light-bg-body: #e0e0e0;
  --light-bg-box: #ffffff;
  --light-bg-setting: #ececec;
  --light-bg-btn: #fafafa;
  --light-bg-login-btn: #0095f6;
  --light-color-normal: #262626;
  --light-color-mid: #545454;
  --light-color-light: #8e8e8e;
  --light-icon-filter: invert(0%) sepia(93%) saturate(0%) hue-rotate(229deg) brightness(93%) contrast(107%);

  --dark-bg-body: #000000;
  --dark-bg-box: #111111;
  --dark-bg-setting: #1a1a1a;
  --dark-bg-btn: #131313;
  --dark-bg-login-btn: #111111;
  --dark-color-normal: #ececec;
  --dark-color-mid: #efefef;
  --dark-color-light: #aaaaaa;
  --dark-icon-filter: invert(100%) sepia(57%) saturate(41%) hue-rotate(308deg) brightness(113%) contrast(87%);

  --bg-body: var(--light-bg-body);
  --bg-box: var(--light-bg-box);
  --bg-setting: var(--light-bg-setting);
  --bg-btn: var(--light-bg-btn);
  --bg-login-btn: var(--light-bg-login-btn);
  --color-normal: var(--light-color-normal);
  --color-mid: var(--light-color-mid);
  --color-light: var(--light-color-light);
  --icon-filter: var(--light-icon-filter);
}

$color-word-a: #639cf9;
$color-word-bx: #639cf9;
$border-light: 0.5px solid #8e8e8e;
$border-btn: 0.5px solid #d1d1d1;
$nav-height: 80px;

@mixin line {
  display: block;
  width: calc(100% - 30px);
  height: 0;
  margin: 0 auto;
  content: "";
  border-bottom: $border-light;
}

@mixin login-btn {
  background-color: var(--bg-login-btn);
  color: #ffffff;
  cursor: pointer;
}