@import 'root.scss';

.move {
	display: flex;
	align-items: center;
	font-size: 13px;
	color: var(--color-normal);
	padding: 8px 17px;

	.open {
		flex: 0 1 auto;
	}

	.open-enable {
		cursor: pointer;
	}

	.open-disable {
		cursor: initial;
		color: var(--color-light);
	}
  
	.word-btn {
		flex: 0 1 auto;
		cursor: pointer;
	}
}