.cont{
  padding: 0;
}

.cont:after, .art-cont:after, .reply:before{
  display: block;
  width: calc(100% - 30px);
  height: 0;
  margin: 0 auto;
  content: "";
  border-bottom: 0.5px solid #8e8e8e;
}

.cont .bar{
  padding: 12px 15px;
  display: flex;
  align-items: center;
}

.cont .bar-head {
  flex: 0 1 auto;
  width: 24px;
  height: 24px;
  padding: 2px 6px 2px 0px;
}

.cont .author{
  flex: 1 1 auto;
  font-size: 14px;
  margin: 0;
  font-weight: 600;
}

.cont .likes-icon{
  width: 12px;
  height: 12px;
  padding: 5px 6px 4px 0px;
  filter: invert(61%) sepia(2%) saturate(184%) hue-rotate(19deg) brightness(93%) contrast(77%);
}

.cont .likes-icon-yes{
  filter: invert(15%) sepia(55%) saturate(6826%) hue-rotate(0deg) brightness(103%) contrast(95%);
}

.cont .likes-num{
  flex: 0 1 auto;
  font-size: 13px;
  color: #8e8e8e;
  min-width: 8px;
  text-align: right;
}

.cont .info{
  padding: 14px 15px 12px 15px;
  font-size: 13px;
  display: flex;
  align-items: center;
  color: #8e8e8e;
}

.cont .info .del{
  flex: 0 1 auto;
  font-size: 13px;
  color: #545454;
  padding-left: 10px;
  font-weight: normal;
}

.cont .del-word{
  font-size: 16px;
  line-height: 28px;
  font-family: Microsoft JhengHei;
  margin: 12px 0;
  padding: 0 15px;
}