@import '../../../../root.scss';

.cont {
	padding: 0;

	&:after {
		@include line;
	}

	.bar {
		padding: 12px 15px 0px 15px;
		display: flex;
		align-items: center;
	}

	.bar-head {
		flex: 0 1 auto;
		width: 24px;
		height: 24px;
		padding: 2px 6px 2px 0px;
	}

	.author {
		flex: 1 1 auto;
		font-size: 14px;
		margin: 0;
		font-weight: 600;
	}

	.likes-icon {
		@include likes-icon;
	}

	.info {
		padding: 2px 17px 7px 17px;
		font-size: 13px;
		display: flex;
		align-items: center;
		color: var(--color-light);

		.del {
			flex: 0 1 auto;
			font-size: 13px;
			color: var(--color-mid);
			margin-left: 10px;
			font-weight: normal;
			cursor: pointer;
		}
	}

	.del-word {
		font-size: 16px;
		line-height: 28px;
		font-family: Microsoft JhengHei;
		margin: 12px 0;
		padding: 0 15px;
	}
}